@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.animate-typing {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 2s steps(15, end) 1,
             blink 0.75s step-end infinite;
}
